<div class="row mt-5">
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Buscar</span>
        <input type="text" class="form-control" placeholder="Introducir texto" aria-label="Username"
            [(ngModel)]="termino">
    </div>
</div>
<div class="row mt-4">
    <div class="col-xs-12 col-sm-6 col-md-4 mb-3" *ngFor='let car of carList | filter:termino'>
        <div class="card">
            <div class="image">
                <a [routerLink]="['/car-details', car.id]">
                    <img [src]="car.img_url" [alt]="car.model" class="card-img-top" />
                </a>
            </div>
            <div class="card-inner">
                <div class="header">
                    <a [routerLink]="['/car-details', car.id]" style="text-decoration: none; cursor: pointer;">
                        <h2>{{car.make | uppercase}} - {{car.model}}</h2>
                    </a>
                    <h4 class="text-muted">{{car.price | currency}}</h4>
                    <small class="text-muted"><b>Año:</b> {{car.year}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="carList.length <= 0">
        <p>No hay resultados........</p>
    </div>
</div>